@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Play:wght@400;700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Ribeye&family=Sora:wght@100..800&family=Ysabeau:ital,wght@0,1..1000;1,1..1000&display=swap');

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Sora', sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 1304px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  background-color: #fff;
}
.container-contact {
  max-width: 1304px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  height: 1003px;
}