/* Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 63px;
    background-color: #fff;
    border-bottom: 0.5px solid #D6D6D6;
    font-size: 22px;
    z-index: 1000;

    display: flex;
    justify-content: center; 
    align-items: center;
}
.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    width: 100%;
    max-width: 1200px;
    box-sizing: border-box;
    padding: 0 5px;
}

.project-btn,
.left-links,
.right-links {
  display: flex;
  align-items: center;
}

.right-links {
  margin-left: auto;
  gap: 20px;
}

.left-links a {
  color: #000;
}

.projects-section {
  margin-top: 150px;
  border-radius: 40px;
  background: #FAFAFA;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 56px;
  padding: 20px 0;
  height: 886px;
}

.about-section, 
.projects-section h2 {
  margin-top: 77px;
  color: #000;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 36px;
  font-weight: 700;
  padding: 20px 0;
}

.highlight-span {
  color: #000000;
  font-family: 'Ribeye';
  font-size: 36px;
  font-weight: 400;
}
.projects-scroll-wrapper {
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  display: flex;
  justify-content: flex-start;
  padding-bottom: 10px;
}

.projects-scroll-wrapper::-webkit-scrollbar {
  display: none; /* по желанию */
}

.about-section {
    /* height: 717px; */
    background-color: #ffffff;
}

.skills-section {
  min-height: 717px;
  height: auto; /* позволяет блоку расти при переполнении */
  padding: 80px 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center; /* по желанию, если хочешь вертикально выровнять */
}

.about-me-text {
    margin-top: 92px;
    color: #707070;
    text-align: center;
    font-family: "Ysabeau", sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 2.2px;
}
.work-principles-cards {
    display: flex;
    justify-content: center;
    margin-top: 93px;
    flex-wrap: wrap;
    gap: 40px;
    margin-bottom: 100px;
}
.work-principles-cards h5{
    color: #000;
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.2px;
}
.work-principles-cards ul {
    list-style-type: disc;
    color: #000000;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 2.2px;
    /* margin-left: 44px; */
    margin-top: 25px;
    text-align: left;
}

.work-principle-1,
.work-principle-2,
.work-principle-3 {
  max-width: 320px;
  width: 100%;
}

li {
    margin-bottom: 10px;
}
.skills-section {
  min-height: 717px;
  padding: 80px 20px;
  padding-bottom: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  background-color: #F5F5F5;
  border-radius: 25px 25px 0px 0px;
}

.skills-section h2{
    color: #000;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.highlight-span-1 {
    color: #000;
    font-family: "Ribeye", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2px;
}

.contact-section {
  width: 100%;
  max-width: 1440px;
  background-color: #000000;
  color: #ffffff;
}
.contact-section h1{
  color: #ffffff;
  margin-top: 53px;
  line-height: 0.4;
}
.block-contact-title{
  width: 1440px;
  flex-shrink: 0;
}
.contact-section hr{
  border: 0.5px #fff solid;
  margin-top: 53px;
}
.contact-content{
  display: flex;
  flex-direction: row;
}
.basic-info{
  height: 598px;
  width: 650px;
  margin-top: 53px;
  list-style-position: inside;
}
.basic-info ul{
  list-style-position: inside;
}
.basic-info li {
  list-style-type: disc; 
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.basic-info li::marker {
  color: white;
  margin-left: 10px;
}
.basic-info h2{
  color: #FFF;
  font-family: Sora;
  font-size: 50px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-top: 8px;
  width: 264px;
  height: 160px;
  flex-shrink: 0;
}
.contact-details{
  width: 654.014px;
  height: 283.08px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.contact-links{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 18px; 
  color: #B0B0B0;
}
.contact-details hr{
  border: 0.5px solid #7b7b7b;
  width: 650.944px;
  margin-top: 0;
}
.contact-details a{
  color: #7b7b7b;
  transition: 0.3s ease-out;

}
.contact-details a:hover{
  color: #FFF;
  transition: 0.3s ease-out;
}

.send-message{
  width: 524px;
  height: 598px;
  flex-shrink: 0;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.07);
  margin-left: auto;
  margin-top: 55px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.send-message h5{
  color: #FFF;
  font-family: Raleway;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.small-field h6{
  margin-bottom: 10px;
}
.small-field input{
  width: 476px;
  height: 37px;
  flex-shrink: 0;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.10);
  padding: 11px;
}
.big-field h6{
  margin-bottom: 10px;
}
.big-field textarea {
  width: 476px;
  height: 262px;
  flex-shrink: 0;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.10);
  padding: 10px;
  border: none;
  resize: none;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.big-field textarea::placeholder {
  color: #ccc;
}

.file-upload {
  display: flex;
  flex-direction: column;
  color: white;
  font-family: "Sora", sans-serif;
}

.file-upload label {
  background: rgba(255, 255, 255, 0.1);
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
  width: fit-content;
}

.file-upload label:hover {
  background: rgba(255, 255, 255, 0.2);
}

.file-upload input[type="file"] {
  display: none;
}
#file-name {
  margin-top: 8px;
  font-size: 14px;
  color: #ccc;
  font-family: "Sora", sans-serif;
}
.file-upload{
  display: flex;
  flex-direction: row;
  gap: 30px;
}