/* Header */
header {
  display: flex;
  align-items: center;
  height: 63px;
  border-bottom: 0.5px solid #D6D6D6;
  background-color: #fff;
  font-size: 22px;
}

.project-btn,
.left-links,
.right-links {
  display: flex;
  align-items: center;
}

.right-links {
  margin-left: auto;
  gap: 20px;
}

.left-links a {
  color: #000;
}

.projects-section {
  margin-top: 150px;
  border-radius: 40px;
  background: #FAFAFA;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 56px;
  padding: 20px 0;
  height: 886px;
}

.about-section, 
.projects-section h2 {
  margin-top: 77px;
  color: #000;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 36px;
  font-weight: 700;
  padding: 20px 0;
}

.highlight-span {
  color: #000;
  font-family: 'Ribeye';
  font-size: 36px;
  font-weight: 400;
}

.projects-scroll-wrapper {
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  display: flex;
  justify-content: flex-start;
  padding-bottom: 10px;
}

.projects-scroll-wrapper::-webkit-scrollbar {
  display: none; /* по желанию */
}

.about-section {
    height: 717px;
    background-color: #ffffff;
}
.about-me-text {
    margin-top: 92px;
    color: #707070;
    text-align: center;
    font-family: "Ysabeau", sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 2.2px;
}
.work-principles-cards {
    display: flex;
    justify-content: center;
    margin-top: 93px;
    flex-wrap: wrap;
    gap: 40px;
}
.work-principles-cards h5{
    color: #000;
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.2px;
}
.work-principles-cards ul {
    list-style-type: disc;
    color: #000000;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 2.2px;
    /* margin-left: 44px; */
    margin-top: 25px;
    text-align: left;
}

.work-principle-1,
.work-principle-2,
.work-principle-3 {
  max-width: 320px;
  width: 100%;
}

li {
    margin-bottom: 10px;
}