.intro-section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  padding-top: 63px;
}

.intro {
  width: 893px;
  max-width: 100%;
  padding: 0 20px;
}

.h1-grey,
h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0;
}

.h1-grey {
  color: #BCBCBC;
}

h1 {
  color: #000;
}

.top-projects-h4 {
  margin-top: 146px;
  color: #000;
  font-family: 'Sora', sans-serif;
  font-size: 22px;
  font-weight: 200;
  text-align: center;
}

.arrow-down {
  display: block;
  margin: 14px auto 0;
  width: 17px;
  height: auto;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.arrow-down:hover {
  transform: translateY(5px);
}
